<form action="/bloggPost/add" method="POST">
    <label for="title">Blogg titel</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="content">Blogg innehåll</label><br>
    <input type="text" id="content" name="content">

    <button type="submit">Submit</button>
</form>

