<%- include('header'); -%>
    <h1>Blogginlägg <%= post.title %></h1>
    <div class="blogContent">
        <h3> <%= post.title %> </h3> 
        <p> <%= post.content %> </p> 
    </div>
    </div>
</body>
</html>